* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(86, 138, 187);
    color: whitesmoke;
}

header {
    width: 650px;
    text-align: center;
    margin: 15px auto;
    padding: 20px;
    border: 5px whitesmoke solid;
    border-radius: 10px;
}

#hammer {
    position: absolute;
    width: 110px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mole {
    width: 100px;
    visibility: hidden;
}

#back-arrow {
    position: absolute;
    top: 0;
    margin: 30px;
    width: 70px;
    image-rendering: crisp-edges;
}


main {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    background-color: rgb(26, 82, 61);
    margin: auto;
    height: 700px;
    width: 700px;
    border-radius: 30px;
    border: 10px solid rgb(23, 51, 26);
}

footer {
    text-align: center;
    display: flex;
    width: 700px;
    margin: 30px auto;
}

footer span { 
   flex: 1;
   font-size: x-large;
}

main span {
    position: absolute;
    font-size: xx-large;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(26, 82, 61);
    padding: 40px 15px 40px 15px;
    border: 5px solid rgb(193, 69, 69);
    border-radius: 30px;
    color: rgb(193, 69, 69);
    display: none;
}